.main_body{
    padding:0;
    margin:0;
}
.blog-heading{
    text-align: center;
    font-size:35px;
    color:rgb(59, 117, 171);
}
.blog-title{
    border-radius:30px;
    margin-left:70px;
    margin:30px;
    width:70%;
    display: block;
    margin:40px auto;
}
.blog-img{
    width:50%;
    margin:30px auto;
    border-radius:30px;
    
}
.blog-date-btn{
    padding:10px;
    margin-left:40px;
    font-size:20px;
}