.main-body{
    padding:0;
    margin:0;
}
.blog-btn{
    display: flex;
    margin:30px auto;
    border: none;
    border:1px solid black;
    border:1px solid rgb(242, 242, 242);
    border-radius: 30px;
    padding: 10px 20px;
    font-size: x-large;
    color:rgb(255, 71, 26);
    background-color:rgb(242, 242, 242);
}
.blog-heading{
    text-align: center;
    font-size:35px;
    color:rgb(59, 117, 171);
}

.blog-card{
    display: flex;
    justify-content:center;
    margin-top:60px;
    margin-left:-80px;
}
.blog-title{
    width:500px;
    border:1px solid rgb(242, 242, 242);
    border-radius: 30px;
    box-shadow: 0 0  10px 0 rgba(0,0,0,0.25);
    margin-left:100px;
    background-color:rgb(242, 242, 242);
    transition:  0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);

}
.blog-title:hover{
    transform: scale(1.03);
    box-shadow:20px 20px 45px #aaa6a6;
}
.blog-img{
    width:400px;
    display:flex;
    margin:20px auto;
    border:1px solid rgb(242, 242, 242);
    border-radius: 30px;
    
}
.blog-date-btn{
    border:none;
    border:1px solid black;
    border-radius:10px 0 10px 0;
    background-color:rgb(255, 240, 230) ;
    padding:10px;
    margin-left: 20px;
    font-size: 20px;
    color:rgb(51, 102, 204);
    background-color: #ebf0fa;
}
.blog-message{
    font-size:xx-large;
    text-align: center;
    color:black;
}
.blog-message:hover{
    color:tomato;
}
.food-info{
    font-size:x-large;
    margin-top: -10px;
    text-align: center;
    padding:5px 10px;
}
.more-info-btn{
    border:none;
    border:1px solid black;
    border-radius:30px;
    background-color:rgb(255, 240, 230) ;
    padding:20px 30px;
    font-size: 20px;
    margin-left: 20px;
    color:rgb(51, 102, 204);
    background-color: #ebf0fa;
    box-shadow: rgb(178, 178, 179) 9px 9px 12px, rgb(255, 255, 255) -9px -9px 12px;
    border: none;
    cursor: pointer;
    background: rgb(243, 243, 245);
}   
.more-info-btn:hover{
    box-shadow: 0 0  10px 5px rgba(0,0,0,0.25);
    border-color: #0d0d25;
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
    color:#0d0d25;
    }
.quantity-btn-container{
    display:flex;
    justify-content: space-evenly;
    
    text-align: center;
}
.btn-quantity{
    height:50px;
    margin-top: 10px;
    cursor: pointer;
}
.quantity-text{
    font-size: 40px;
    margin-top: 10px;
}
.btn{
    display: block;
    margin:20px auto;
    padding:10px 20px;
    border:none;
    border: 1px solid black;
    border-radius:10px 0 10px 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.30);
    cursor: pointer;
    color:rgb(51, 102, 204);
    background-color: #ebf0fa;
    box-shadow: rgb(178, 178, 179) 9px 9px 12px, rgb(255, 255, 255) -9px -9px 12px;
    border: none;
    cursor: pointer;
    background: rgb(243, 243, 245);


}
.btn:hover{
    border-color: #0d0d25;
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
    color:#0d0d25;
}
.buy-product-link{
    font-size:xx-large;
    color:rgb(51, 102, 204);
    background-color: #ebf0fa;
    
}
.buy-product{
    display: block;
    margin:60px auto;
    text-align: center;
    border:1px solid rgb(51, 102, 204);
    border-radius: 10px 0px 10px 0px;
    padding:20px 35px;
    transition:  0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    
    
}
.buy-product:hover{
    transform: scale(1.03);
    box-shadow:20px 20px 45px #aaa6a6;
    
}
.buy-product-link:hover{
    color:rgb(255, 51, 0);
   
}
.rate-butn{
    padding:10px 30px;
    display: block;
    margin:30px auto;
    border:none;
    border-radius:10px;
    border:1px solid black;
    box-shadow: 0 0  10px 0 rgba(0,0,0,0.20);
    cursor: pointer;
    color:rgb(59, 117, 171);
    background-color: rgb(217, 230, 242);
    font-size: 20px;
}
.rate-butn:hover{
    color:rgb(26, 140, 255);
    background-color: rgb(230, 242, 255);
}

 /* for small device*/
 @media screen and (max-width:600px){
    .blog-btn{
        margin:10px auto;
        border-radius: 10px;
        padding: 5px 10px;
        font-size: x-large;
        margin-left:150px;
    }
    .blog-heading{
        font-size:30px;
        margin-left: -70px;
       
    }
    
    .blog-card{
        margin-top:20px;
        margin-left:-30px;
        display: flex;
        margin:50px;
        flex-direction: column;
        
    }
    .blog-title{
        width:300px;
        border-radius:10px;
        margin-left:100px;
        margin:30px;
    }
    .blog-img{
        width:250px;
       
        margin:10px auto;
        border-radius:10px;
        
    }
    .blog-date-btn{
        padding:10px;
        margin-left: 20px;
        font-size:15px;
    }
    .blog-message{
        font-size:large;
    
    }
    .food-info{
        font-size:20px;
        margin-top: -10px;
        padding:5px 10px;
    }
    .more-info-btn{
        border-radius:10px;
        padding:10px;
        font-size: 15px;
        margin-left: 20px;
    }   

    .btn-quantity{
        height:30px;
        margin-top: 10px;
    }
    .quantity-text{
        font-size: 30px;
        margin-top: 10px;
    }
    .btn{
        padding:5px 10px;
        border-radius:10px 0 10px 0;
    }
    .buy-product-link{
        font-size:15px;

    }
    .buy-product{
        border-radius: 5px 0px 5px 0px;
        padding:20px 30px;
        margin-left:130px;
      
        
    }

 }
   /* for normal device*/
   @media screen and (min-width:601px) and (max-width:768px){
    .blog-btn{
        margin:30px auto;
        border-radius: 10px;
        padding: 5px 10px;
        font-size: x-large;
        margin-left:150px;
    }
    .blog-heading{
        font-size:30px;
        margin-left: -70px;
       
    }
    
    .blog-card{
        margin-top:20px;
        margin-left:-30px;
        display: flex;
        margin:50px;
        flex-direction: column;
        
    }
    .blog-title{
        width:500px;
        border-radius:30px;
        margin-left:100px;
        margin:30px;
    }
    .blog-img{
        width:450px;
       
        margin:10px auto;
        border-radius:30px;
        
    }
    .blog-date-btn{
        padding:10px;
        margin-left: 20px;
        font-size:18px;
    }
    .blog-message{
        font-size:x-large;
    
    }
    .food-info{
        font-size:20px;
        margin-top: -10px;
        padding:5px 10px;
    }
    .more-info-btn{
        border-radius:10px;
        padding:10px;
        font-size: 18px;
        margin-left: 20px;
    }   
    .btn-quantity{
        height:40px;
        margin-top: 10px;
    }
    .quantity-text{
        font-size: 40px;
        margin-top: 10px;
    }
    .btn{
        padding:10px 20px;
        border-radius:10px 0 10px 0;
    }
    .buy-product-link{
        font-size:20px;

    }
    .buy-product{
        border-radius: 10px 0px 10px 0px;
        padding:20px 30px;
        margin-left:130px;
      
        
    }


   }

     /* for tablet device*/
     @media screen and (min-width:769px) and (max-width:992px){

        .blog-btn{
            margin:30px auto;
            border-radius:15px;
            padding: 5px 10px;
            font-size: x-large;
            display: flex;
            margin:30px auto;
        }
        .blog-heading{
            font-size:50px;
            margin-left: -70px;
           
        }
        
        .blog-card{
            margin-top:20px;
            margin-left:-30px;
            display: flex;
            margin:50px;
            flex-direction: column;
           
            
        }
        .blog-title{
            border-radius:30px;
            margin-left:100px;
            margin:30px;
            width:80%;
            display: block;
            margin:40px auto;
        }
        .blog-img{
            width:70%;
            margin:30px auto;
            border-radius:30px;
            
        }
        .blog-date-btn{
            padding:10px;
            margin-left:40px;
            font-size:18px;
        }
        .blog-message{
            font-size:xx-large;
        
        }
        .food-info{
            font-size:25px;
            margin-top: -10px;
            padding:5px 10px;
        }
        .more-info-btn{
            border-radius:10px;
            padding:10px;
            font-size: 18px;
            margin-left:40px;
        }   
        .btn-quantity{
            height:60px;
            margin-top: 20px;
        }
        .quantity-text{
            font-size: 60px;
            margin-top: 20px;
        }
        .btn{
            padding:10px 30px;
            border-radius:10px 0 10px 0;
        }
        .buy-product-link{
            font-size:25px;
    
        }
        .buy-product{
            border-radius: 10px 0px 10px 0px;
            padding:20px 30px;
            margin-left:130px;
          
            
        }
    
    
       }

      /* for large device*/
      @media screen and (min-width:993px) and (max-width:1200px){
        .blog-btn{
            margin:30px auto;
            border-radius:15px;
            padding: 5px 10px;
            font-size: x-large;
            display: flex;
            margin:30px auto;
        }
        .blog-heading{
            font-size:50px;
            margin-left: -70px;
           
        }
        
        .blog-card{
            margin-top:20px;
            margin-left:-30px;
            display: flex;
            margin:50px;
            flex-direction: column;
           
            
        }
        .blog-title{
            border-radius:30px;
            margin-left:100px;
            margin:30px;
            width:80%;
            display: block;
            margin:40px auto;
        }
        .blog-img{
            width:70%;
            margin:30px auto;
            border-radius:30px;
            
        }
        .blog-date-btn{
            padding:10px;
            margin-left:40px;
            font-size:18px;
        }
        .blog-message{
            font-size:xx-large;
        
        }
        .food-info{
            font-size:25px;
            margin-top: -10px;
            padding:5px 10px;
        }
        .more-info-btn{
            border-radius:10px;
            padding:10px;
            font-size: 18px;
            margin-left:40px;
        } 
        .btn-quantity{
            height:60px;
            margin-top: 20px;
        }
        .quantity-text{
            font-size: 60px;
            margin-top: 20px;
        }
        .btn{
            padding:10px 30px;
            border-radius:10px 0 10px 0;
        }
        .buy-product-link{
            font-size:25px;
       }
        .buy-product{
            border-radius: 10px 0px 10px 0px;
            padding:20px 30px;
            margin-left:130px;
          
            
        }  
    
      }