.footer-continer{
    height: 80vh;
    width: 100%;
    display: flex;
    text-align: center;
    background-color: rgb(187, 186, 184);
}
.footer-info{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
   
    text-align: center;

}
.footer-logo {
    height: 20vh;
    width: 20vw;
    
    object-fit: contain;
}

.footer-info p{
    color:black;
    margin-top: 40px;
    font-size: 1vw;
    margin-bottom: 5vh;
}
.footer-social{
    display: flex;
    justify-content: space-evenly;
}

.footer-icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    border-radius: 50%;
    text-align: center;
    font-size: 1vw;
    object-fit: cover;
}

.footer-icon:hover{
    box-shadow: 5px 5px 20px rgb(158, 157, 157);
}
.footer-time{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-time h1{
    font-size: 2.5vw;
    margin-top: 10vh;
    color:black;
    margin-bottom: 10vh;
}

.footer-time p{
    color: black;
    font-size: 1.5vw;
    display: flex;
    
}
.pag{
    margin-top: 2vh;
}
.footer-time p svg{

    height: 3vh;
}
.footer-link{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
    
    text-align: center;
    

}
.footer-pages{
    display: flex;
    flex-direction: column;
}

.footer-link a{
    margin-top: 2vh;
    text-decoration: none;
}
.footer-link a{
    text-decoration: none;
}
.footer-link h1{
    margin-top: 10vh;
    font-size: 2.5vw;
}


.footer-compani{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
  
    text-align: center;

}
.footer-compani h1{
    font-size: 2.5vw;
    margin-top: 10vh;
    color:black;;
}
.company-taxt{
    display: flex;
    flex-direction: column;
}
.company-taxt a{
    margin-top: 3vh;

}





body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: #4a4444;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 60px 0;
}

.about-video {
    text-align:center;
}

.about-video-img {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.play-btn-wp {
    position: relative;
    top: -200px;
    text-align: center;
}

.play-btn {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: inline-block;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.sec-title {
    text-align: center;
}

.h2-title span {
    color: #d9534f;
}

.sec-title-shape img {
    max-width: 100px;
}

.menu-tab ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu-tab ul li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.menu-tab ul li img {
    display: block;
    margin: 0 auto 5px;
}

.menu-item {
    text-align: center;
    margin-bottom: 30px;
}

.menu-item img {
    width: 80%;
    height: 450px;
    object-fit: cover;
}

.book-table {
    position: relative;
    background: #f8f8f8;
    padding: 60px 0;
}

.book-table-shape img {
    position: absolute;
    width: 150px;
    opacity: 0.3;
}

.book-table-shape {
    top: -50px;
    left: 0;
}

.book-table-shape2 {
    bottom: -50px;
    right: 0;
}

.table-title h3 {
    margin-bottom: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .about-video-img {
        height: 250px;
    }

    .play-btn-wp {
        top: -125px;
    }

    .menu-tab ul li {
        display: block;
        margin: 5px 0;
    }

    .menu-item img {
        height: 150px;
    }
}

@media (max-width: 576px) {
    .about-video-img {
        height: 200px;
    }

    .play-btn-wp {
        top: -100px;
    }


    
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    html{
        font-size: 62.5%;
        /* 1rem=10px */
        overflow-x: hidden;
    
    }
    body{
        overflow-x: hidden;
    }
    .header{
        display: flex;
        height: 11rem;
        align-items: center;
        justify-content: space-between;
        padding: 0 4rem;
        background-color:#81b1ce;
        border-color: #f2f2f2;
        box-shadow: 0 10px 55px #d4d4d4;
        
    }
    .logo{
        height: 4rem;
    }
    .navbar-list{
        display: flex;
        gap: 4rem;
        list-style: none;
    }
    .link:link, a{
        text-decoration: none;
        display: inline-block; /* to remove underline and add padding */
        font-size: 2rem;
        transition: 0.3s ease-in-out;
        font-weight: 600;
        color: #212129;
    }
    .link:link:hover, a:hover{
        color: #00ace6;
    }
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #00ace6;
    }
    .mobile-nav{
        display: none;
        background: transparent;
         cursor: pointer;
    }
    .mob-i{
        height: 4rem;
        width: 4rem;
    }
    .x{
        display: none;
    }
    @media screen and (max-width: 1105px){
        .mobile-nav{
            display: block;
            z-index: 900;
        }
        .logo{
            width: 10%;
            
        }
        .header{
            position: relative;
        }
        .nav-bar{
            position: absolute;
            /* display: none; */
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            display: flex;
            /* flex-direction: column; */
            justify-content: center;
            align-items: center;
            background:#b4e1ff ;
            transform: translateX(100%);
            transition: all 0.5s linear;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
        .navbar-list{
            flex-direction: column;
            align-items: center;
        }
        .active .nav-bar{
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
        .active .x{
            display: block;
        }
        .active .M{
            display: none;
        }
    }


    
    
    
    @media screen and (min-width:482px) and (max-width:600px){
        .footer-continer{
            height: 118vh;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        .footer-info{
            height: 40vh;
            width: 50%;
        }
        .footer-info p{
            font-size: 2vw;
    
        }
        .footer-time{
            height: 40vh;
            width: 50%;
        }
        .footer-time h1{
            font-size: 3vw;
        }
        .footer-time p{
            font-size: 2.5vw;
        }
        .footer-link{
            height: 80vh;
            width: 50%;
        }
    
        .footer-compani{
            height: 80vh;
            width: 50%;
        }
        
    }