.body{
    background-color: white;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 120px;
    width: 1500px;
    background-color:rgb(255 255 255 /90%);
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
    border-color: #f2f2f2;
    box-shadow: 0 10px 55px #d4d4d4;
    border-radius: 15px;
    position: fixed;   
}
.socialmedia{
    height: 40px;
    justify-content: space-around;
    padding: auto;
    cursor: pointer;
    margin-top: 30px;
}

.navbar-socialmedia{
    display: flex;
    margin-top: 0px;
    margin-left: 0;
    height: 50px;
    filter: drop-shadow(0 0 0.25rem rgb(239, 210, 210));
    justify-content: space-between;
    background-color: white;
    flex-direction:row;
    height: 100vh;
    width: 90px;
    margin-right: 10px;
    border-radius: 15px;
    position: fixed;
    
}
.Home{
    color: black; 
    text-decoration: none; 
    margin-left: 50px; 
    padding: 1px;
    cursor: pointer;

}
.Home:hover{
    color: blue;
}

.logo{
    margin-top: 500px;
    margin-left: 0px;
}
.app-container{
    text-align: center;
    color: white;
}


.button-container{
    justify-content: center;
    display: flex;
}
.btn-toggle{
    margin: 10px 30px;
    width: 100px;
    cursor: pointer;
    padding: 7px 0px;
}
.theme-select-icon{
 height: 30px;
 cursor: pointer;

}
.theme-select-container{
    position: fixed;
    right: 35px;
    top: 10spx;
}
.bg-dark{
    background-color: black;
}
.bg-light{
    color: black;
    background-color: white;
}
.btn-dark{
    color: white;
    background-color: black;
}
.btn-light{
    color: black;
    background-color: yellow;
}

@media screen and (max-width: 500px){
    .navbar-socialmedia{
        height: 100vh;
        width: 55px;
    }
    .socialmedia{
        height: 22px;
    }
    

}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .navbar-socialmedia{
        height: 100vh;
        width: 65px;
    }
    .socialmedia{
        height: 27px;
    }


}
@media screen and (min-width: 501px) and (max-width: 695px) {
    .navbar-socialmedia{
        height: 100vh;
        width: 65px;
    }
    .socialmedia{
        height: 27px;
    } 
}


@media screen and (min-width: 769px) and (max-width: 992px) {
    .navbar-socialmedia{
        height: 100vh;
        width: 78px;
    }
    .socialmedia{
        height: 33px;
    }

}
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .navbar-socialmedia{
        height: 100vh;
        width: 85px;
    }
    .socialmedia{
        height: 37px;
    }
}