body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f5;
}

.form-container {
    padding: 10px;
    display: inline-block;
    border: 2px solid black(99, 137, 156);
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px gray;

    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #f1cbcb;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    margin-top: 20px;
    height: 530px;
    width: 450px;
    
    

}

.form-container form {
    padding: 2rem;
    width: 500px;
    border-radius: 10px;
    text-align: center;

}

.title {
    font-size: 50px;
}

.container-img {
    display: flex;
    height: 500px;
    padding-top: 0px;




}

.img {
    height: 550px;
    width: 650px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 5px ;
    margin-left: 0px;
    margin-top: 20px;
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #f1cbcb;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

html {
    font-size: x-small;
}


.form-container form {
    padding: 2rem;
    width: 500px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    


}

.form-container form h3 {


    text-transform: uppercase;
    color: black;
}

.form-container form .box {

    border-radius: .5rem;
    background-color: light-bg;
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    color: black;
    margin: 1rem 0;


}



.title {
    font-size: 40px;
}

.box {
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #f1cbcb;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}


    .button{
        height: 8vh;
        width: 13vw;
        font-size: 1.5vw;
        font-weight: 500;
        border-radius: 15px;
        box-shadow: rgb(178, 178, 179) 9px 9px 12px, rgb(255, 255, 255) -9px -9px 12px;
        border: none;
        cursor: pointer;
        
        background: rgb(243, 243, 245)
    }
    .button:hover{
        border-color: #0d0d25;
        box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
       color:#0d0d25;
    }







.parent-container {
    display: flex;
    justify-content: space-around;
  

}


.form-check {
    display: flex;
    justify-content: center;
    justify-content: center;
    margin-top: 10px;
}

.pay-text {
    font-size: 18px;
}

.form-check-input {
    margin-left: 15px;
}

.form-control {
    border: none;

}

a {
    text-decoration: none;
}


body{
    overflow-x: hidden;
}
.header{
    display: flex;
    height: 11rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
  background-color:#81b1ce;
    border-color: #f2f2f2;
    box-shadow: 0 10px 55px #d4d4d4;
    
}
.logo{
    height: 4rem;
}
.navbar-list{
    display: flex;
    gap: 4rem;
    list-style: none;
}
.link:link, a{
    text-decoration: none;
    display: inline-block; 
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    color: #212129;
}
.link:link:hover, a:hover{
    color: #00ace6;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00ace6;
}
.footer-continer{
    height: 80vh;
    width: 100%;
    display: flex;
    text-align: center;
    background-color: rgb(187, 186, 184);
    margin-top: 10px;
    
}
.footer-info{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
   
    text-align: center;
}
.footer-logo {
    height: 20vh;
    width: 20vw;
    
    object-fit: contain;
}

.footer-info p{
    color:black;
    margin-top: 40px;
    font-size: 1vw;
    margin-bottom: 5vh;
}
.footer-social{
    display: flex;
    justify-content: space-evenly;
}

.footer-icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    border-radius: 50%;
    text-align: center;
    font-size: 1vw;
    object-fit: cover;
}
.footer-icon:hover{
    box-shadow: 5px 5px 20px rgb(158, 157, 157);
}
.footer-time{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer-time h1{
    font-size: 2.5vw;
    margin-top: 10vh;
    color:black;
    margin-bottom: 10vh;
}

.footer-time p{
    color: black;
    font-size: 1.5vw;
    display: flex;
    
}
.pag{
    margin-top: 2vh;
}
.footer-time p svg{

    height: 3vh;
}
.footer-link{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
    
    text-align: center;
    

}
.footer-pages{
    display: flex;
    flex-direction: column;
}

.footer-link a{
    margin-top: 2vh;
    text-decoration: none;
}
.footer-link a{
    text-decoration: none;
}
.footer-link h1{
    margin-top: 10vh;
    font-size: 2.5vw;
}

.footer-compani{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
  
    text-align: center;

}
.footer-compani h1{
    font-size: 2.5vw;
    margin-top: 10vh;
    color:black;;
}
.company-taxt{
    display: flex;
    flex-direction: column;
}
.company-taxt a{
    margin-top: 3vh;
}
@media screen and (max-width:480px) {
    .footer-continer{
        height: 190vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer-info{
        height: 50vh;
        width: 100%;
    }
    .footer-logo{
        display: block;
        margin: 0px auto;
        height: 22vh;
        width: 69vw
    }
    .footer-info p{
        font-size: 4vw;
    }
    .footer-time{
        height: 50vh;
        width: 100%;
    }
    .footer-time h1{
        font-size: 7.5vw;
        color: #8f2839;
    }
    .footer-time p{
        font-size: 5.5vw;
    }
    .footer-link{
        width: 100%;
        height: 61vh;
    }
    .footer-link h1{
        font-size: 9.5vw;
        color: #8f2839;

    }
    .footer-compani{
        height: 50vh;
        width: 100%;
    }

    .footer-compani h1{
        font-size: 7.5vw;
        color: #8f2839;
    }

    
}
@media screen and (min-width:482px) and (max-width:600px){
    .footer-continer{
        height: 118vh;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .footer-info{
        height: 40vh;
        width: 50%;
    }
    .footer-info p{
        font-size: 2vw;

    }
    .footer-time{
        height: 40vh;
        width: 50%;
    }
    .footer-time h1{
        font-size: 3vw;
    }
    .footer-time p{
        font-size: 2.5vw;
    }
    .footer-link{
        height: 80vh;
        width: 50%;
    }

    .footer-compani{
        height: 80vh;
        width: 50%;
    }
    
}


    
@media screen and (max-width: 500px) {
    .parent-container {
        display: block;
        justify-content: space-between;
        
        margin-top: 40px;
        
        
    }
    .container-img {
        display: block;
       height: 500px;
        padding-top: 20px;
        margin-right:20px;
       
    

}
.form-container {
    padding: 10px;
    display: inline-block;
    border: 2px solid rgb(99, 137, 156);
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px gray;

    background-color: #DED0B6;
    margin-bottom: 60px;
    width: 400px;

}
.img {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 5px ;
    margin-left: 10px;
}
.form-container form {
    padding: 2rem;
    width: 420px;
    border-radius: 10px;

    


}
.form-container {
    padding: 10px;
    display: inline-block;
    border: 2px solid rgb(99, 137, 156);
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px gray;

    background-color: #DED0B6;
    margin-left: 20px;
    margin-bottom: 40px;
}


}
@media screen and  (min-width:501px) and (max-width: 800px) {
    .parent-container {
      flex-direction: column;
      align-items: center;
    }
    .container-img {
        margin-right: 0;
        margin-bottom: 20px;
      }
      
      .form-container {
        width: 90%;
        max-width: 450px;
      }
      .img {
        border-radius: 10px;
        height: 450px;
        width: 400px;
      }
    }
    @media screen and (min-width: 801px) and (max-width: 1015px) {
        .img {
            height: 400px;
            width: 800px;
            border-radius: 20px;
            box-shadow: 2px 2px 5px 5px ;
            margin-right: 20px;
            margin-left: 30px;
            
        }
        .container-img{
            display: block;
    height: 500px;
    padding-top: 20px;

        }
        .parent-container {
            display: block;
            justify-content: space-evenly;
        
            margin-top: 10px;
        }
        .form-container {
            
            display: block;
            border: 2px solid rgb(99, 137, 156);
            border-radius: 20px;
            box-shadow: 10px 10px 10px 10px gray;
        
            background-color: #DED0B6;
           
            margin-left: 90px;
            width: 550px;
         margin-top: 40px;

        }
        
        

    }
    @media screen and (min-width: 1016px) and (max-width:1181px) {
        .container-img{
            display: block;
    height: 499px;
    padding-top: 20px;

        }
        .parent-container {
            display: block;
            justify-content: space-evenly;
        
            margin-top: 10px;
        }
        .form-container {
            
            display: block;
            border: 2px solid rgb(99, 137, 156);
            border-radius: 20px;
            box-shadow: 10px 10px 10px 10px gray;
        
            background-color: #DED0B6;
            
        
            width: 550px;
            margin-top: 140px;
            margin-left: 70px;
            
        
        }
        .img {
            height: 550px;
            width: 650px;
            border-radius: 20px;
            box-shadow: 2px 2px 5px 5px ;
            margin-left: 40px;
            margin-top: 40px;
            
        }



    }
    @media screen and (max-width: 1105px){
        .mobile-nav{
            display: block;
            z-index: 900;
        }
        .logo{
            width: 10%;
            
        }
        .header{
            position: relative;
        }
        .nav-bar{
            position: absolute;
            /* display: none; */
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            display: flex;
            /* flex-direction: column; */
            justify-content: center;
            align-items: center;
            background:#b4e1ff ;
            transform: translateX(100%);
            transition: all 0.5s linear;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
        .navbar-list{
            flex-direction: column;
            align-items: center;
        }
        .active .nav-bar{
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
        .active .x{
            display: block;
        }
        .active .M{
            display:none;
       }
    }
    
    
    
         
              
                
                
