body {
    margin: 0;
    padding: 0;
}

.form-container {
    padding: 10px;
    display: inline-block;
    border: 2px solid rgb(99, 137, 156);
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px gray;

    background-color: #DED0B6;
}

.form-container form {
    padding: 2rem;
    width: 500px;
    border-radius: 10px;
    text-align: center;

}

.title {
    font-size: 50px;
}

.container-img {
    display: flex;
    height: 500px;
    padding-top: 20px;




}

.img {
    height: 500px;
    width: 650px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 5px #d39a50;
}

html {
    font-size: x-small;
}


.form-container form {
    padding: 2rem;
    width: 500px;
    border-radius: 10px;
    text-align: center;
    


}

.form-container form h3 {


    text-transform: uppercase;
    color: black;
}

.form-container form .box {

    border-radius: .5rem;
    background-color: light-bg;
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    color: black;
    margin: 1rem 0;


}

.form-container form p a:hover {
    text-decoration: underline;
}


.title {
    font-size: 40px;
}

.box {
    background-color: #FDF7E4;
}

.btn,
.option-btn,
.delete-btn,
.white-btn {
    display: inline-block;
    padding: 1rem 3rem;
    cursor: pointer;
    color: #000;
    font-size: 1.8rem;
    text-transform: capitalize;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover {
    background-color: #DED0B6;
}

.btn {
    background-color: rgb(183, 120, 4);
    border-radius: 10px;
    border: none;
}

.option-btn {
    background-color: orange;

}

.delete-btn {
    background-color: red;
}

.parent-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover {
    background-color: #DED0B6;
}

.form-check {
    display: flex;
    justify-content: center;
    justify-content: center;
    margin-top: 10px;
}

.pay-text {
    font-size: 18px;
}

.form-check-input {
    margin-left: 15px;
}

.form-control {
    border: none;

}

a {
    text-decoration: none;
}