body{
    background-color: #f3f3f5;
    
}
.tital-continer{
    height:;
    margin: 8vh 0px;
    margin-left: 20px;
    display: flex;
}
.left{
    height: 90vh;
    width: 50vw;
   
    position: relative;
    
   
}
.left h1{
    font-size: 7vw;
    font-weight: 700;

    
}

.left span{
    color: #ff8243;
    background-image: linear-gradient(0deg, rgb(13 13 37 / 8%), rgb(13 13 37 / 8%));
}
.right {
    height: 50vh;
    width: 40vw;
    border-radius: 50%;
    margin-top: 10vh;
    margin-left: 10px;
    overflow: hidden;
    box-shadow: 8px 8px 30px rgb(27, 26, 26);
    transition: 1s;

}
.right img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    
    
}

.right:hover{
transform: scale(1.03)
} 
.title-btn{
    position: absolute;
    top: 80vh;
    left: 3px;
}  
.btn{
    height: 8vh;
    width: 13vw;
    font-size: 1.5vw;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: rgb(178, 178, 179) 9px 9px 12px, rgb(255, 255, 255) -9px -9px 12px;
    border: none;
    cursor: pointer;
    
    background: rgb(243, 243, 245)
}
.btn:hover{
    border-color: #0d0d25;
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
    color: #0d0d25;
}
#page2{
    height: 200vh;
    width: 100%;
    border: 2px solid red;
}
#page2 h1{
    text-align: center;
}
.page2-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card-continer{
    width: 100%;
    flex-wrap: wrap;
    display: flex; 
    margin: 25vh 0px;
    display: flex;
    justify-content: space-evenly;
}
.card{
    height: 85vh;
    width: 22vw;
    border-radius: 30px;
    
    
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #f1cbcb;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
   
    position: relative;
}
.card:hover{
    transform: scale(1.03);
     box-shadow: 20px 20px 45px #aaa6a6; ;
}
.card-img{
    position: absolute;
    top: -100px;
    left: 39px;
}
.card-img img{
    height: 31vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #ffffff;
    border-radius: 50%;
 

}
.dish-rating{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    
    font-size: 1.5vw;
}
.info{
    text-align: center;
    font-size: 2vw;
    
}
.info p{
    font-size: 1.5vw;
    color: #b6a8a8;
}
.quentity{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
   
}
.que{
    
    text-align: center;
}
.quentity p{
    font-size: 1vw;
}
#product-quentity{
    font-size: 1.5vw;
}
.prise{
   
}
.prise p{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.5vw;
}
.order-btn{
    display: flex;
    align-items: center;
    justify-content: center;
  
}

















#page3{
    height: 100vh;
    margin: 20vh 0px;
}
#compani-iteam{
    display: flex;
    justify-content: space-evenly;
}
   
#page3 h6{
    text-align: center;
    
    font-size: 2vw;
    color:    rgb(146, 128, 128);
}
.iteam{
    height: 34vh;
    transition: 1.5s;
 
}

.iteam:hover{
    transform: scale(1.2)

}





