body{
    background-color: #f3f3f5;
    
}
.tital-continer{
    height:;
    margin: 8vh 0px;
    margin-left: 20px;
    display: flex;
}
.left{
    height: 90vh;
    width: 50vw;
   
    position: relative;
    
   
}
.left h1{
    font-size: 7vw;
    font-weight: 700;

    
}

.left span{
    color: #ff8243;
    background-image: linear-gradient(0deg, rgb(13 13 37 / 8%), rgb(13 13 37 / 8%));
}
.right {
    height: 50vh;
    width: 40vw;
    border-radius: 50%;
    margin-top: 10vh;
    margin-left: 10px;
    overflow: hidden;
    box-shadow: 8px 8px 30px rgb(27, 26, 26);
    transition: 1s;

}
.right img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    
    
}

.right:hover{
transform: scale(1.03)
} 
.title-btn{
    position: absolute;
    top: 80vh;
    left: 3px;
}  
.btn{
    height: 8vh;
    width: 13vw;
    font-size: 1.5vw;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: rgb(178, 178, 179) 9px 9px 12px, rgb(255, 255, 255) -9px -9px 12px;
    border: none;
    cursor: pointer;
    
    background: rgb(243, 243, 245)
}
.title-btn button:hover{
    border-color: #0d0d25;
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
    color: #0d0d25;
}
#page2{
    height: 100vh;
    margin: 20vh 0px;
    border: 2px solid red;
}
#page2 h6{text-align: center;
    
    font-size: 2vw;
    color:    rgb(146, 128, 128);
}
.iteam{
    height: 34vh;
    transition: 1.5s;
 
}

.iteam:hover{
    transform: scale(1.2)

}


.page3{
    height:100vh;
    width: 100%;
    font-family: gily-roy;
    position: relative;
   
 }

 .page3 video{
    height: 100%;
    width: 100%;
    object-fit: fill;
 }
 .navbar{
    display: flex;
    justify-content: space-around;
    background-color: #FFD3B6;
    height: 80px;
    align-items: center;
 }
 .nav-text{
    text-decoration: none;
    color: black;
    font-size: larger;
 }
 
    
.container{
    height: 350px;
            width: 100%;
            display: flex;
            background-color: #F5F7F8;
            padding: 5px;
            border-radius: 5px;
            padding-top: 20px;
            padding-right: 50px;
            justify-content: space-evenly;
}
.child-container{
    text-align: center;
    font-size: larger;
    font-family: cursive;
    border-radius: 3px;

    background-color: #FFCBCB;
    height: 300px;
    width: 350px;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 10px;
    border: solid #7AB2B2;
}

    .btn {
        border-radius: 2px;
        border: none;
        background-color: #7AB2B2;
        height: 40px;
        width: 85px;
        color: black;
        justify-content: center;
        padding-bottom: 10px;
        align-items: center;
    }

    .btn:hover {
        transition: 1s;
        transform: scale(1.1);
}

 


