body{
    background-color: #f3f3f5;
    
}
.tital-continer{
    margin: 10vh 0px;
    margin-left: 20px;
    display: flex;
}
.left{
    height: 70vh;
    width: 50vw;
    font-size: 3.8vw;
    font-weight: 700;
    
   
}
.left h1{

    
}

.left span{
    color: #ff8243;
    background-image: linear-gradient(0deg, rgb(13 13 37 / 8%), rgb(13 13 37 / 8%));
}
.right {
    height: 50vh;
    width: 40vw;
    border-radius: 50%;
    margin-top: 10vh;
    margin-left: 10px;
    overflow: hidden;
    box-shadow: 8px 8px 30px rgb(27, 26, 26);
    transition: 1s;

}
.right img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    
    
}
.right:hover{
transform: scale(1.03)
}   
.title-btn button{
    height: 8vh;
    width: 13vw;
    font-size: 1.5vw;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: rgb(178, 178, 179) 9px 9px 12px, rgb(255, 255, 255) -9px -9px 12px;
    border: none;
    cursor: pointer;
    
    background: rgb(243, 243, 245)
}
.title-btn button:hover{
    border-color: #0d0d25;
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
    color: #0d0d25;
}