body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(252, 243, 232);
    background: linear-gradient(264deg, rgba(252, 243, 232, 1) 53%, rgba(255, 255, 255, 1) 100%);
}

.title-contener {
    text-align: center;
    font-size: 2.5vw;
}


main {
    padding: 1rem;
}

.info,.map .contact-form {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.map {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    color: #333;
}

iframe {
    width: 50%;
    height: 400px;
    border: none;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 0.5rem;
}

input,
textarea {
    padding: 0.5rem;
    margin-top: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-submit {
    width: 12vw;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    box-shadow: rgb(178, 178, 179) 9px 9px 12px, rgb(255, 255, 255) -9px -9px 12px;
    border: none;
    cursor: pointer;
    text-decoration:none;
    color: white;
    
    background: rgb(243, 243, 245)

}

.btn-sumit:hover {
    border-color: #0d0d25;
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
   color:#0d0d25;
}

.contact-platform {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    text-align: center;
}

.receiver {
    width: 300px;
    font-size: 20px;
    transition: 0.5s;

}

.receiver:hover {
    transform: scale(1.05);
}

.gmail {
    width: 300px;
    font-size: 20px;
    transition: 0.5s;
}

.gmail:hover {
    transform: scale(1.05);
}

.google-maps {
    width: 300px;
    font-size: 20px;
    transition: 0.5s;
}

.google-maps:hover {
    transform: scale(1.05);
}

.font-contact-platform {
    font-size: 20px;

}


.contact-form {
    width: 500px;
    height: 400px;
    margin-bottom: 10px;
    padding: 20px;
    display: block;
    margin: 30px auto;
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #ffffff;
    transition: 0.5s;
}

.contact-form:hover {
    transform: scale(1.05);
}


.logo {
    border-radius: 50%;
    height: 60px;
}

.Opening {
    flex: 1;
    min-width: 250px;
    padding: 10px;
}

.Follow {
    flex: 1;
    min-width: 250px;
    padding: 10px;
}

.copy {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
    margin-top: 20px;
}

.About {
    flex: 1;
    min-width: 250px;
    padding: 10px;
}

.Contact {
    flex: 1;
    min-width: 250px;
    padding: 10px;
}



@media screen and (max-width:480px){
 .map{
   display: flex;
   flex-direction: column;
 } 
 .btn-submit{
    width: 21vw;
 }
}






*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    /* 1rem=10px */
    overflow-x: hidden;

}
body{
    overflow-x: hidden;
}
.header{
    display: flex;
    height: 11rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    background-color:#81b1ce;
    border-color: #f2f2f2;
    box-shadow: 0 10px 55px #d4d4d4;
    
}
.logo{
    height: 10rem;
}
.navbar-list{
    display: flex;
    gap: 4rem;
    list-style: none;
}
.link:link, a{
    text-decoration: none;
    display: inline-block; /* to remove underline and add padding */
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    color: #212129;
}
.link:link:hover, a:hover{
    color: #00ace6;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00ace6;
}
.mobile-nav{
    display: none;
    background: transparent;
     cursor: pointer;
}
.mob-i{
    height: 4rem;
    width: 4rem;
}
.x{
    display: none;
}
@media screen and (max-width: 1105px){
    .mobile-nav{
        display: block;
        z-index: 900;
    }
    .logo{
        width: 10%;
        
    }
    .header{
        position: relative;
    }
    .nav-bar{
        position: absolute;
        /* display: none; */
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        background:#b4e1ff ;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .navbar-list{
        flex-direction: column;
        align-items: center;
    }
    .active .nav-bar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active .x{
        display: block;
    }
    .active .M{
        display: none;
    }
}


.footer-continer{
    height: 80vh;
    width: 100%;
    display: flex;
    text-align: center;
    background-color: rgb(187, 186, 184);
}
.footer-info{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
   
    text-align: center;

}
.footer-logo {
    height: 20vh;
    width: 20vw;
    
    object-fit: contain;
}

.footer-info p{
    color:black;
    margin-top: 40px;
    font-size: 1vw;
    margin-bottom: 5vh;
}
.footer-social{
    display: flex;
    justify-content: space-evenly;
}

.footer-icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    border-radius: 50%;
    text-align: center;
    font-size: 1vw;
    object-fit: cover;
}

.footer-icon:hover{
    box-shadow: 5px 5px 20px rgb(158, 157, 157);
}
.footer-time{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-time h1{
    font-size: 2.5vw;
    margin-top: 10vh;
    color:black;
    margin-bottom: 10vh;
}

.footer-time p{
    color: black;
    font-size: 1.5vw;
    display: flex;
    
}
.pag{
    margin-top: 2vh;
}
.footer-time p svg{

    height: 3vh;
}
.footer-link{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
    
    text-align: center;
    

}
.footer-pages{
    display: flex;
    flex-direction: column;
}

.footer-link a{
    margin-top: 2vh;
    text-decoration: none;
}
.footer-link a{
    text-decoration: none;
}
.footer-link h1{
    margin-top: 10vh;
    font-size: 2.5vw;
}


.footer-compani{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
  
    text-align: center;

}
.footer-compani h1{
    font-size: 2.5vw;
    margin-top: 10vh;
    color:black;;
}
.company-taxt{
    display: flex;
    flex-direction: column;
}
.company-taxt a{
    margin-top: 3vh;

}


@media screen and (max-width:480px) {
    .footer-continer{
        height: 190vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer-info{
        height: 50vh;
        width: 100%;
    }
    .footer-logo{
        display: block;
        margin: 0px auto;
        height: 22vh;
        width: 69vw
    }

    .footer-info p{
        font-size: 4vw;
    }
    .footer-time{
        height: 50vh;
        width: 100%;
    }
    .footer-time h1{
        font-size: 7.5vw;
        color: #8f2839;
    }
    .footer-time p{
        font-size: 5.5vw;
    }
    .footer-link{
        width: 100%;
        height: 61vh;
    }
    .footer-link h1{
        font-size: 9.5vw;
        color: #8f2839;

    }
    .footer-compani{
        height: 50vh;
        width: 100%;
    }

    .footer-compani h1{
        font-size: 7.5vw;
        color: #8f2839;
    }

    
}


@media screen and (min-width:482px) and (max-width:600px){
    .footer-continer{
        height: 118vh;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .footer-info{
        height: 40vh;
        width: 50%;
    }
    .footer-info p{
        font-size: 2vw;

    }
    .footer-time{
        height: 40vh;
        width: 50%;
    }
    .footer-time h1{
        font-size: 3vw;
    }
    .footer-time p{
        font-size: 2.5vw;
    }
    .footer-link{
        height: 80vh;
        width: 50%;
    }

    .footer-compani{
        height: 80vh;
        width: 50%;
    }
    
}