body{
    background-color: #f3f3f5;
    
}

.cart {

    
    background: linear-gradient(145deg, #ececec, #ffffff);
    margin: 30px;
    padding: 50px;
    
    border-color: #212129;
}

.img-food {
    height: 250px;
    border-radius: 10px;
    box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #ffffff;

}

.content {
    margin: 35px 15px;
}

.quantity-container {
    width: 90px;
}

.quantity {
    font-size: 23px;
    display: block;
    margin: 0 10px;
    font-weight: bold;
}

.quantity-img {
    width: 28px;
    cursor: pointer;
    display: block;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
}

.amount {
    font-size: 18px;
    padding-top: 15px;
}

.amt {
    font-weight: bold;
}


body{
    overflow-x: hidden;
}
.header{
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    background-color:#b4e1ff    ;
    border-color: #f2f2f2;
    box-shadow: 0 10px 55px #d4d4d4;

    
}
.logo{
    height: 4rem;
}
.navbar-list{
    display: flex;
    gap: 4rem;
    list-style: none;
}
.link:link, a{
    text-decoration: none;
    display: inline-block; /* to remove underline and add padding */
    font-size: 1rem;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    color: #212129;
}
.link:link:hover, a:hover{
    color: #00ace6;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    background-color: #00ace6;
}
.mobile-nav{
    display: none;
    background: transparent;
     cursor: pointer;
}
.mob-i{
    height: 4rem;
    width:4rem;
}
.x{
    display: none;
}
.container{
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.child-container{
    margin: 40px;
}
.text{
    font-size: 20px;
    font-weight:bold;
}
.txt{
    font-size: 25px;
}
.text-design{
    font-size: 20px;
    font-weight: 50px;
}
.order-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parent-container {
    display: flex;
    justify-content: center;
}

.btn-remove {
    display: block;
    margin: 5px auto;
    background-color: #DC3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.border-container {
    border: 1px solid gray;
}

.pricing-container {
    display: flex;
    justify-content: space-between;

    margin-top: 15px;
}  

.price-amt {
    padding: 0 30px;
}

.price-items {
    margin: 15px 0 5px 25px;
}

.total-gross {
    margin-left: 25px;
}

a {
    text-decoration: none;
}

.btn-buy-now {
    display: block;
    margin: 0 auto;
    background-color: #198754;
    color: black;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

@media screen and (max-width: 500px) {
    .img-food {
        margin-left: -70px; 
    }
    .cart {
        width: 470px; 
    }
    
}
@media screen and (min-width: 501px) and (max-width: 600px) {
    .img-food {
        margin-left: -70px; 
    }
    .cart {
        width: 470px; 
    }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
    .img-food {
        height: 200px; 
        margin-left: -50px; 
    }

    .cart {
        width: 600px; 
    }

    .btn-remove {
        margin-left: 70px; 
        
    }
    .quantity {
        font-size: 20px; 
    }

    .amount {
        font-size: 16px; 
    }
}

